export(listMines, initInterMine, getVersion, getRelease, getModel, getTemplates, runQuery, getTemplateQuery, newQuery, getWidgets, doEnrichment)
import(Biostrings, RCurl, XML, xml2, RJSONIO, sqldf, httr, utils)
importFrom(igraph,graph.data.frame,shortest.paths)
importFrom("utils", "URLencode")
