export(listMines, 
initInterMine, 
getVersion, 
getRelease, 
getModel, 
getTemplates,
getTemplateQuery, 
newQuery, 
getWidgets, 
doEnrichment, 
getGeneIds, 
convertToGRanges, 
convertToRangedSummarizedExperiment, 
getDatasets, 
listDatasets, 
simplifyResult,
setConstraints,
setQuery,
convertToGeneAnswers)

exportClasses(InterMineR)
exportMethods(runQuery,summary)

import(Biostrings, RCurl, XML, xml2, RJSONIO, sqldf, httr, S4Vectors, IRanges, GenomicRanges, SummarizedExperiment, methods, GeneAnswers)
importFrom(igraph,graph.data.frame,shortest.paths)
